	<!-- body -->
	<div class="row">
		<div class="jumbotron">
      <h1>Welcome to Docs</h1>
    	<p>In today's world internet is the most popular way of connecting with the people is through the use of Social Media.Docs is a kind of it so that you can create your own documents to connect and share with people around the world.</p>
    	<%= link_to 'Create Directory', '#', class: " col-sm-4 col-sm-offset-4 btn btn-lg btn-success", "data-toggle" => "modal", "data-target" => "#createDirectory" %>
    </div>
	</div>

	<%= render 'media_directories/new' %>
